<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
    <div class="container azul">
      <header class="top row gutters{% if page.path == 'index.html' || '' %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="{{site.baseurl}}" id="logo" title="njjjjj"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>
        
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    
  function copyToClipboard() {
        // コピー対象をJavaScript上で変数として定義する
        var copyTarget = document.getElementById("sampleInputedList");
        // コピー対象のテキストを選択する
        copyTarget.select();
        // 選択しているテキストをクリップボードにコピーする
        document.execCommand("Copy");
        // コピーをお知らせする
        alert("クリップボードに保存しました");
 }
    
function buildData() {
   var name = document.getElementById('mapName').value;
   var version = document.getElementById('mapVersion').value;
   var author = document.getElementById('mapAuthor').value;
   var subtitle = document.getElementById('mapSubtitle').value;
   var desc = document.getElementById('mapDesc').value;
    
   var gametime = document.getElementById('mapGameTime').value;
    
   var startfeather = document.getElementById('mapStartFeather').value;
   var startbone = document.getElementById('mapStartBone').value;
   var startegg = document.getElementById('mapStartEgg').value;
    
   var rejailfeather = document.getElementById('mapRejailFeather').value;
   var rejailbone = document.getElementById('mapRejailBone').value;
   var rejailegg = document.getElementById('mapRejailEgg').value;
  
   var rejaillimit = document.getElementById('mapRejailLimit').value;
   var autoend = document.getElementById('mapAutoEnd').value;
   var autorejail = document.getElementById('mapAutoRejail').value;
   var watch = document.getElementById('mapWatch').value;
   var field = document.getElementById('mapField').value;
   var spblock = document.getElementById('mapSpblock').value;
   var opgtp = document.getElementById('mapOPGTP').value;
    
   var locplayer = document.getElementById('mapLocPlayer').value;
   var lochunter = document.getElementById('mapLocHunter').value;
   var locclear = document.getElementById('mapLocClear').value;
   var locjail = document.getElementById('mapLocJail').value;
   var locrejail1 = document.getElementById('mapLocRejail1').value;
   var locrejail2 = document.getElementById('mapLocRejail2').value;
   var locopg = document.getElementById('mapLocOpg').value;
   var locdoor = document.getElementById('mapLocDoor').value;
   var locshop = document.getElementById('mapLocShop').value;
    
   var xml = "";
    xml += '<map>\n';
    xml += '   <name>' + name + '</name>\n';
    xml += '   <version>' + version + '</version>\n';
    xml += '   <authors>\n';
    xml += '      <author>' + author + '</author>\n';
    xml += '   </authors>\n';
    xml += '   <subtitle>' + subtitle + '</subtitle>\n';
    xml += '   <desc>' + desc + '</desc>\n';
    xml += '   <time>' + gametime + '</time>\n';
    xml += '   <start>\n';
    xml += '      <feather>' + startfeather + '</feather>\n';
    xml += '      <bone>' + startbone + '</bone>\n';
    xml += '      <egg>' + startegg + '</egg>\n';
    xml += '   </start>\n';
    xml += '   <rejail>\n';
    xml += '      <feather>' + rejailfeather + '</feather>\n';
    xml += '      <bone>' + rejailbone + '</bone>\n';
    xml += '      <egg>' + rejailegg + '</egg>\n';
    xml += '   </rejail>\n';
    xml += '   <rejailcount>' + rejaillimit + '</rejailcount>\n';
    xml += '   <auto_end>' + autoend + '</auto_end>\n';
    xml += '   <auto_rejail>' + autorejail + '</auto_rejail>\n';
    xml += '   <watch>' + watch + '</watch>\n';
    xml += '   <climate>' + field + '</climate>\n';
    xml += '   <spblock>' + spblock + '</spblock>\n';
    xml += '   <opg_tp>' + opgtp + '</opg_tp>\n';
    xml += '   <location>\n';
    xml += '      <player>' + locplayer + '</player>\n';
    xml += '      <hunter>' + locplayer + '</hunter>\n';
    xml += '      <clear>' + locplayer + '</clear>\n';
    xml += '      <jail>' + locplayer + '</jail>\n';
    xml += '      <rejail1>' + locplayer + '</rejail1>\n';
    xml += '      <rejail2>' + locplayer + '</rejail2>\n';
    xml += '      <door>' + locplayer + '</door>\n';
    xml += '      <opg>' + locplayer + '</opg>\n';
    xml += '      <shop>' + locshop + '</shop>\n';
    xml += '   </location>\n';
    xml += '</map>\n';
    
    document.getElementById('sampleInputedList').value = xml;
}
    
</script>

<body>
  <div id="wrapper">
    <div class="container"> <img src="https://project-rfm.net/public/images/rfm/title.png" style="width:100%;height:auto;" /><br>
      <div class="content">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <h3>マップ設定</h3>
            </div>
            <div class="card-body">
              <form id="sampleForm">
                  
                  <div class="form-group">
                   マップ名<input type="text"  class="form-control" name="formName" id="mapName" value="TestMap"> 
                   </div>
                  
                  <div class="form-group">
                    バージョン<input type="text" class="form-control" name="formVersion" id="mapVersion" value="1.0.0"> 
                  </div>
                  
                   <div class="form-group">
                      製作者<input type="text" class="form-control" name="formAuthor" id="mapAuthor" value="p_rfm"> 
                   </div>
                  
                   <div class="form-group">
                       サブタイトル<input type="text" class="form-control" id="mapSubtitle" value="テストマップから逃げ切れ!!!"> 
                   </div>
                  
                  <div class="form-group">
                       マップ説明<textarea class="form-control" id="mapDesc" rows="5" >これはテストのマップです。,§b広いです。,§a§l狭いかも</textarea>
                      <small class="form-text text-muted">コンマ(,)で改行 セクション(§)でカラーコードを設定可能</small>
                   </div>
                  
                </form>
            </div>
          </div>
          <hr/>
         <div class="card">
            <div class="card-header">
              <h3>ゲーム設定</h3>
            </div>
            <div class="card-body">
              <form id="sampleForm">
                 <div class="form-group">
                    <label>復活可能回数</label></br>
                     <input type="number" min="1" max="15" id="mapRejailLimit" value="10" class="form-control">
                </div>
                  <div class="form-group">
                      ゲーム時間
                      <div class="input-group">
                       <input type="number" class="form-control" min="10" id="mapGameTime" value="25">
                          <div class="input-group-append">
                             <span class="input-group-text">分</span>
                            </div>
                          </div>
                   </div>
                  <div class="form-group">
                      ゲーム自動終了
                      <select name="formArea" id="mapAutoEnd" class="form-control">
            　　　　　　　　　　　　　<option selected>true</option>
            　　　　　　　　　　　　　<option>false</option>
       　　　　　　　　</select>
                      <small id="mapStartItem" class="form-text text-muted">逃走者が0人になった時ゲームを終了するかを設定</small>
                    </div>
                   <div class="form-group">
                      自動復活
                       <select name="formAge" id="mapAutoRejail" class="form-control">
            　　　　　　　　　　　　　<option selected>true</option>
            　　　　　　　　　　　　　<option>false</option>
        　　　　　　　　　</select>
                   </div>
                
                  <div class="form-group">
                      観戦/Watch
                       <select id="mapWatch" class="form-control">
            　　　　　　　　　　<option selected>true</option>
            　　　　　　　　　　<option>false</option>
        　　　　　　　　 </select>
                      <small class="form-text text-muted">watchコマンドの使用可否を設定 trueで使用可</small>
                    </div>
                
                 <div class="form-group">
                      フィールド/Field
                      <input type="number" class="form-control" min="0" max="2" id="mapField" value="0">
                     <small class="form-text text-muted">0:平穏 1:温暖 2:寒冷 指定以外の数値は強制的に平穏</small>
                 </div>
                
                <div class="form-group">
                     特殊ブロック
                     <input type="number" class="form-control" min="0" max="3" id="mapSpblock" value="0">
                     <small class="form-text text-muted">特殊ブロックにより付与されるエフェクト</small>
                     <small class="form-text text-muted">0:不運 1:盲目 2:発光 3:加速 指定以外の数値は強制的に不運</small>
                </div>
                
                <div class="form-group">
                      OPG-Teleport
                       <select id="mapOPGTP" class="form-control">
            　　　　　　　　　　<option selected>false</option>
            　　　　　　　　　　<option>true</option>
        　　　　　　　　 </select>
                    <small class="form-text text-muted">オープニングゲーム終了時に強制的にTPを行うか</small>
                 </div>

                </form>
            </div>
          </div>

        <div class="card">
            <div class="card-header">
              <h3>アイテム設定</h3>
            </div>
            <div class="card-body">
              <form id="sampleForm">
                  <div class="form-group">
                    <label>ゲーム開始時</label></br>
                      羽: <input type="number" min="0" max="10" id="mapStartFeather" value="10" class="form-control"> 
                      骨: <input type="number" min="0" max="10" id="mapStartBone" value="10" class="form-control"> 
                      卵: <input type="number" min="0" max="10" id="mapStartEgg" value="10" class="form-control">
                      <small id="mapStartItem" class="form-text text-muted">ゲーム開始時に配布されるアイテムの個数 ゲームバランスを考えて設定してください。</small>
                   </div>
                  <div class="form-group">
                    <label>復活時</label></br>
                      羽: <input type="number" min="0" max="10" id="mapRejailFeather" value="7" class="form-control"> 
                      骨: <input type="number" min="0" max="10" id="mapRejailBone" value="7" class="form-control"> 
                      卵: <input type="number" min="0" max="10" id="mapRejailEgg" value="7" class="form-control">
                <small id="mapRejailItem" class="form-text text-muted">復活時に配布されるアイテムの個数 開始時よりも多くならないように設定してください。</small>
                   </div>
                </form>
            </div>
          </div>
            
        </div>
      </div>
     </br>

    <div class="content">
       <div class="card-deck">
         <div class="card">
           <div class="card-header">
              <h3>位置情報設定</h3>
               <h6>X,Y,Z,Yaw,Pitchを記述します。配布プラグインでの取得を推奨します。</h6>
            </div>
            <div class="card-body">
          <form>
              
            <div class="form-group">
               Player<input type="text" class="form-control" id="mapLocPlayer" value="0,0,0,0,0"> 
               <small class="form-text text-muted">プレイヤーの初期スポーン地点</small>
            </div>
              
            <div class="form-group">
               Hunter<input type="text" class="form-control" id="mapLocHunter" value="0,0,0,0,0"> 
               <small class="form-text text-muted">ハンターの初期スポーン地点</small>
            </div>
               
            <div class="form-group">
               Clear<input type="text" class="form-control" id="mapLocClear" value="0,0,0,0,0"> 
               <small class="form-text text-muted">ゲームクリア時にTPされる地点</small>
            </div>
              
            <div class="form-group">
               Jail<input type="text" class="form-control" id="mapLocJail" value="0,0,0,0,0"> 
               <small class="form-text text-muted">牢獄</small>
            </div>
              
            <div class="form-group">
               Rejail1<input type="text" class="form-control" id="mapLocRejail1" value="0,0,0,0,0"> 
               <small class="form-text text-muted">復活時に飛ばされる場所1</small>
            </div>
              
            <div class="form-group">
               Rejail2<input type="text" class="form-control" id="mapLocRejail2" value="0,0,0,0,0"> 
               <small class="form-text text-muted">復活時に飛ばされる場所2</small>
            </div>
              
            <div class="form-group">
               OPG<input type="text" class="form-control" id="mapLocOpg" value="0,0,0,0,0"> 
               <small class="form-text text-muted">オープニングゲーム開始時に飛ばされる場所</small>
            </div>
              
            <div class="form-group">
               Door<input type="text" class="form-control" id="mapLocDoor" value="0,0,0,0,0"> 
               <small class="form-text text-muted">ゲーム開始時に爆発する扉の起点となる場所</small>
            </div>
              
            <div class="form-group">
               Shop<input type="text" class="form-control" id="mapLocShop" value="0,0,0,0,0"> 
               <small class="form-text text-muted">ショップNPCが自動でスポーンする場所</small>
            </div>
                
          </form>
        </div>
       </div>
      </div>
    </div>

     <form>
         <button type="button" class="btn btn-success btn-lg btn-block" onclick="buildData();">Xmlに変換</button>
      </form>
        
       <div class="content">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <h3>map.xml</h3>
            </div>
            <div class="card-body">
          <form>
            <div id="sampleOutput"> 
               <textarea  class="form-control" rows="20" id="sampleInputedList" readonly></textarea> 
                </br>
                <button type="button" class="btn btn-info btn-lg btn-block" onclick="copyToClipboard()">クリップボードにコピー</button> 
             </div>
          </form>
        </div>
       </div>
      </div>
     </div>


      </div>
    </div>
  </div>


 <footer>
     <p align="center">
          &copy; 2015-2019 project-rfm. All rights reserved. | <a href="{{site.baseurl}}/rfm/rule">利用規約</a> | <a href="{{site.baseurl}}/rfm/credit">credit</a><br>
           Minecraft は Mojang Synergies AB の登録商標です。本サイトはMojang Synergies ABとは関係ありません。<br>
       <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.baseurl}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </p><br><br>    
  </footer>

 </body>
</html>
