.green-badge, .blue-badge, .red-badge, .yellow-badge  {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
}

.blue-badge {
  background-color: #58ACFA; /*青*/
}

.red-badge {
  background-color: #DA0D17; /*赤*/
}

.yellow-badge {
  background-color: #EFDC0A; /*黃*/
}

.green-badge {
  background-color: #04B404; /*緑*/
}
