---
layout: page
title: RFM list
permalink: /rfm/
---
<p class="alert alert-info">RFMに関する記事が表示されます</p>
<section class="archive">

<div class="bundle row gutters fadeInDown animated">
<h3 class="post-year col span_3" id="RFM">rfm</h3>
<div class="posts-by-year col span_9">

  {% for post in site.categories.rfm %}
  <article class="row gutters">
  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
  <div class="post-date col span_4">
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %b %Y" }}</time>
  </div>
</article>
  {% endfor %}

</div></div>
</section>

<section class="archive">

<div class="bundle row gutters fadeInDown animated">
<h3 class="post-year col span_3" id="update">update</h3>
<div class="posts-by-year col span_9">

  {% for post in site.categories.update %}
  <article class="row gutters">
  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
  <div class="post-date col span_4">
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %b %Y" }}</time>
  </div>
</article>
  {% endfor %}

</div></div>
  <a class="twitter-timeline" width="320px" height="400px" data-border-color="#dc143c" data-chrome=”noheader” href="https://twitter.com/project_rfm?ref_src=twsrc%5Etfw">Tweets by project_rfm</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
