---
layout: default
---

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
  <h2>{{ page.title }}</h2>
  {% if page.categories.first != null %}<div style="font-size: small; margin-top: -15px; margin-bottom: 20px">categories: {% for category in page.categories %}<a href="{{ site.baseurl }}/categories/#{{ category }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% if forloop.last %}.{% endif %}{% endfor %}</div>{% endif %}

  {{ content }}
  <hr>
  <p style="text-align:center"><a href="{{site.baseurl}}/rfm/"><strong>一覧へ戻る</strong></a><br/></p>
  
   <p style="text-align:center"><a href="{{site.baseurl}}/rfm/credit">credit</a><br/></p>
  <hr>
  
   
</article>
