<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body bgcolor="#000000">
    <div class="container azul">
      <header class="top row gutters{% if page.path == 'index.html' || '' %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="{{site.baseurl}}" id="logo" title="njjjjj"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>
          &copy; 2015-2019 njj12. All rights reserved. | <a href="{{site.baseurl}}/rfm/rule">利用規約</a><br><br>
       <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.baseurl}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <br>    
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
    
    
  </body>
</html>
