---
layout: default
---

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%Y年%m月%d日" }}</time>
  <h2>{{ page.title }}</h2>
  {% if page.categories.first != null %}<div style="font-size: small; margin-top: -15px; margin-bottom: 20px">categories: {% for category in page.categories %}<a href="{{ site.baseurl }}/categories/#{{ category }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% if forloop.last %}.{% endif %}{% endfor %}</div>{% endif %}

  {{ content }}
  <hr>
<!--   <div id="myplace"></div>
  <script type="text/javascript">
var lists=[
    '<a><img src="https://web.njj12.net/public/images/rfm/updateWarn2.png"></a><br>', 
    ' <a><img src="https://web.njj12.net/public/images/rfm/updateWarn.png"></a><br>', 
  
];
var rNo = Math.floor(Math.random() * lists.length);
document.getElementById('myplace').innerHTML = lists[rNo];
</script> -->
  
<!-- <div id="css-slider">
	<div class="slider-wrapper">
		<div class="slide-item"><img src="https://web.njj12.net/public/images/rfm/updateWarn2.png"></div>
		<div class="slide-item"><img src="https://web.njj12.net/public/images/rfm/updateWarn.png"></div>
		<div class="slide-item"><img src="https://web.njj12.net/public/images/rfm/updateWarn.png">2</div>
	</div>
</div> -->
	
<!-- slider -->	
 <ul class="bxslider">
  <li><img title="t24" src="https://web.njj12.net/public/images/rfm/updateWarn2.png"></li>
  <li><img title="t135" src="https://web.njj12.net/public/images/rfm/updateWarn.png"></li>
</ul>
  
 
  <hr>
  <p style="text-align:center"><a href="https://web.njj12.net/rfm/"><strong>一覧へ戻る</strong></a><br/></p>
  <hr>
  
   
</article>
